:root {
  --main-color: #fff;
  --second-color: #171a20;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Hide Scrollbar */
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
/* font family */
@font-face {
  font-family: GothamBold;
  src: url("/Font-famliy/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: GothamBook;
  src: url("/Font-famliy/GothamBook.ttf") format("TrueType");
}
@font-face {
  font-family: GothamL;
  src: url("/Font-famliy/Gotham-Light.otf") format("opentype");
  font-weight: 900;
}
/* font for everyone */
body {
  font-family: GothamBook, "Arial Narrow", Arial, sans-serif;
}
.main-color {
  color: var(--main-color);
}
.second-color {
  color: #171a20;
}
header {
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
  color: var(--main-color);
  padding: 5px 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}
.sidebar {
  width: 210px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 36%;
  left: 0;
}
.sidebar a.selected {
  border-left: 3px solid #f4f4f4;
}
.sidebar a.page2 {
  border-left: 3px solid var(--second-color);
}
.sidebar a {
  color: transparent;
  text-decoration: none;
  padding-left: 10px;
  border-left: 1px solid gray;
  background-color: transparent;
  margin: 5px 0 0 13px;
  transition: color 0.2s ease;
}
header nav.centerbar {
  text-transform: capitalize;
  width: 615px;
  height: 56px;
  font-size: 14px;
  padding: 14px;
  margin-left: 28px;
  font-family: Gothambold, "Arial Narrow", Arial, sans-serif;
  flex: 1;
  text-align: center;
}

header nav.rightbar {
  text-transform: capitalize;
  font-family: Gothambold, "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  text-align: right;
  padding: 14px;
}
.logo {
  margin-left: 28px;
  margin-top: 13px;
  text-align: left;
}
.name {
  height: 11.5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
}
a.logo svg {
  width: 120px;
  height: 20px;
  color: var(--main-color);
}
header nav a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--main-color);
  transition: background 0.3s ease;
}
.desktop {
  display: none;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
section.model-3 {
  background: url(/images/model-3.jpg) no-repeat center center/cover;
  background-position: center -73px;
  background-size: cover;
}
button {
  transition: color 0.3s ease;
}
.btn {
  cursor: pointer;
  width: 204px;
  height: 40px;
  font-size: 14px;
  border: 3px var(--main-color) solid;
  border-radius: calc(40px / 2);
  background-color: transparent;
  padding: 4px 24px;
  margin: 0 0 0 8px;
}
.tc {
  height: 40%;
  display: flex;
  justify-content: center;
  color: var(--main-color);
  align-items: flex-end;
}
.tc h2 {
  text-align: center;
  height: 28px;
  font-size: 28px;
}
.tc1,
.tc2,
.tc3 {
  padding: 0 30px;
}
.tc1 h2 {
  display: inline;
}
.tc p {
  height: 26px;
  padding: 8px 0 0;
  font-size: 18px;
}
.speedometer {
  display: inline-block;
  width: 40px;
  height: 21px;
}
.speedometer2 {
  opacity: 0.4;
}
/* s2 */
.model-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
}
.s2-left {
  width: 100%;
  height: 100%;
  background: url(/images/model-4.jpg) no-repeat center center/cover;
}
.s2-right {
  width: 416px;
  height: 100%;
  padding: 50px;
}
.safety {
  width: 215.47px;
  height: 36px;
  font-size: 28px;
}
.button {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.btn-2 {
  border: 3px var(--second-color) solid;
  margin-bottom: 5px;
}
.btn-3 {
  font-size: 12px;
  display: flex;
  width: 60%;
  height: 50px;
  align-items: center;
  background-color: transparent;
  border: 0ch;
}
.plusicon {
  cursor: pointer;
  font-size: 30px;
  color: #393c41;
  margin: 0 8px 0 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
.tds {
  width: 336px;
  height: 240px;
}
.tds strong {
  width: 124px;
  height: 16px;
}
/* s3 */
.model-5 {
  width: 100%;
  height: 77.5%;
  background: url(/images/model-5.jpg) no-repeat center center/cover;
}
.tclastepage {
  text-align: center;
  height: 58.2%;
}
.tclastepage p {
  width: 272px;
  height: 62px;
  font-size: 12px;
}
.page3bottom {
  width: 100%;
  height: 23.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3btns {
  display: flex;
}
.page3btns .btn-3 {
  width: fit-content;
}
.page3bottomright {
  width: 30%;
}
.page3bottomleft {
  width: 668px;
  height: 80px;
  color: var(--second-color);
  font: 14px;
}
.chat-icon {
  position: fixed;
  right: 2.5%;
  bottom: 8%;
  padding: 12px;
  padding-bottom: 8px;
  background-color: white;
  box-shadow: 0 0 3px 1px gray;
  border-radius: 50%;
}
/* hover */
.btn-2:hover {
  background-color: black;
  color: white;
}
.btn-1:hover {
  background-color: white;
  color: black;
}
header nav a:hover {
  background-color: gray;
}

.plusicon:hover {
  background-color: black;
  color: white;
}
.sidebar a:hover {
  color: white;
}
.second-color .sidebar a:hover {
  color: var(--second-color);
}
@media screen and (max-width: 528px) {
}
@media (min-width: 1024px) {
  .desktop {
    display: unset;
  }
}
